@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
#banner{
    height: 600px;
} */

#video{
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;

    /* transform: translateY(300px); */
}